* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.box {
    width: 800px;
    height: 500px;
    margin: 40px auto 0;
    background-color: #eee;
    position: relative;
}

.img {
    width: 100%;
    height: 100%;
    position: relative;
    /*z-index: 1;*/
}

.li {
    width: 100px;
    height: 100px;
    /*background-color: orange;*/
    position: absolute;
    /*z-index: 2;*/
    opacity: 0;
    overflow: hidden;
}

.li-img {
    width: 800px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
}

.control{
    width: 800px;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sel {
    position: relative;
    padding: 5px;
    border-radius: 2px;
}

.sel .optionStyle {
    background-color: #ddd;
}

.size {
    position: relative;
}
.size .in{
    width: 20px;
}

.btn {
    display: inline-block;
    position: relative;
    padding: 20px;
    color: purple;
    border: 2px solid purple;
    background-color: #fff;
    border-radius: 50%;
    outline: none;
    font: bolder 20px/20px '微软雅黑';
}

.btn:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: purple;
}
