* {
	padding: 0;
	margin: 0;
}

body {
	background: radial-gradient(at center 36%, #999, #000);
	height: 100vh;
	overflow: hidden;
}

.name {
	position: relative;
	width: 400px;
	margin: 100px auto 0;
	text-align: center;
	font: bolder 40px/60px 'microsoft yahei';
}

.name>span {
	/* transition: all 1s 0.3s ease; */
	display: inline-block;
	color: yellow;
	opacity: 0.8;
}

@keyframes title {
	0% {
		color: yellow
	}

	15% {
		color: green
	}

	30% {
		color: blue
	}

	50% {
		opacity: 0.5;
		transform: rotateX(2turn) scale(1.5);
		color: purple;
	}

	70% {
		color: red
	}

	85% {
		color: orange
	}

	100% {
		color: yellow
	}
}

.animation {
	animation: ease 2s 0.3s title 1;
}

.box {
	width: 400px;
	height: 400px;
	background-color: grey;
	border: 3px solid grey;
	margin: 30px auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
}

li {
	width: 24%;
	height: 24%;
	margin: 2px;
	background-color: orange;
	list-style: none;
	text-align: center;
	font: bolder 40px/98px 'microsoft yahei';
	color: #555;
	transition: all 0.5s 0s ease-out;
}

.controls,
.score,
.player,
.record {
	display: block;
	width: 400px;
	margin: 0 auto;
	font: bolder 24px/30px 'microsoft yahei';
	color: silver;
}


.record {
	color: orange;
}